body.error404 {

	section#main {
		padding: 50px 0;
		min-height: 100vh;

		@include tablet-portrait {
			min-height: 75vh;
			padding: 75px 0;
		}

		h2 {
			font-size: 3.5em;
			padding: 0 0 25px 0;

			@include tablet-portrait {
				font-size: 5em;
			}
		}

		p {
			font-size: 1.5em;
		}
	}
}