footer {
	background: $slate;
}

section#comment-card {

	.header {
		text-align: center;
		padding: 0 0 25px 0;

		h3 {
			font-size: 4em;
		}

		p {
			padding: 10px 0 0 0;
			font-style: italic;
		}
	}

	.form {

		label {
			font-size: 0.875em;

		}

		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			font-size: 0.875em;
		}

		textarea {
			padding: 10px;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			background: $blue;
			border: 1px solid $blue;
			border-radius: 2px;
			font-family: $warnock;
			padding: 14px 20px 11px 20px;
			color: $white;
		}
	}


}

