header {
	background: $slate;
	padding-bottom: 40px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $white;
		border-width: 1px;
	}

	.info {
		text-transform: lowercase;

		h3 {
			color: $white;
			font-weight: 100;
			font-size: 1.625em;
		}

		p {
			color: $white;
			font-size: 1em;
			font-style: normal;
		}
	}

	&.status-view {
		.status {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			width: 100%;

			@include tablet-landscape {
				width: auto;
			}

			.image {
				width: 80%;

				@include tablet-landscape {
					width: 100%;

				}
			
				img {
					margin: 0;					
					transform: none;
					max-width: 200px;

					@include tablet-portrait {
						margin: 0;
						max-width: 300px;
					}

					@include desktop {
						max-width: 300px;
					}
				}		
			}	
		}


		.message {
			color: $white;
			width: 100%;
			flex: 1;
			text-align: center;
			padding-top: 50px;

			@include tablet-landscape {
				padding-left: 50px;
				text-align: left;
				width: auto;
				padding-top: 0;
			}

			.headline {
				padding-bottom: 15px;

				h2 {
					font-size: 1.5rem;
					font-family: $warnock;

					@include desktop {
						font-size: 2rem;
					}
				}
			}

			.copy {
				p {
					font-size: 1rem;
					font-style: normal;
					line-height: 1.75em;

					& + p {
						padding-top: 10px;
					}

					@include desktop {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

}

nav.desktop {
	background: $slate;

	.main-nav {
		a {
			color: $white;
			font-family: $moon-flower;
			font-size: 1.5rem;
			font-weight: 400;

			&:after {
				padding: 0 20px;
			}

			@include desktop {
				font-size: 1.625rem;
			}

			&:hover {
				color: $blue;
			}
		}
	}


}

nav.mobile {

	.main-nav {

		a {
			color: $white;
			font-family: $moon-flower;
			font-size: 2em;
			font-weight: 400;
		}

		@include tablet-portrait {
			display: flex;
			justify-content: center;

			a {
				font-size: 1.5rem;
				padding: 0;

				&:after {
					content: "·";
					display: inline-block;
					padding: 0 20px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

	}


}


section.call-to-actions {
	background: $slate;
	padding-bottom: 40px;

	.btn {
		a {
			border-color: $blue;
			color: $white;
			border-radius: 5px;
			text-transform: none;
			letter-spacing: 0.02em;
			font-size: 1em;
			font-weight: normal;
			padding: 15px 25px 12px;

			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}

	.text {
		order: -1;
		@include tablet-portrait {
			width: 100%;
			padding: 25px 0;
		}

		@include tablet-landscape {
			width: auto;
			padding: 0 25px;
			order: unset;
		}

		p {
			color: $white;
			font-style: normal;
			text-transform: none;
			letter-spacing: 0.02em;
		}
	}
}


#toggle {

	.patty {
	    background: $white;

		&:after, &:before {
		    background: $white;
		}

	}
}


nav .social a {
	background: none !important;
	width: 16px !important;
	height: 16px !important;

	&:hover {
		filter: invert(18%) sepia(7%) saturate(671%) hue-rotate(144deg) brightness(79%) contrast(84%);
	}
}