body.home {

	section#hero {
		@include aspect-ratio(16, 9);

		@include mobile-landscape {
			border-bottom: 10px solid $brown;
			@include aspect-ratio(1440, 490);
			max-height: 600px;
		}
	}

	section#main {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include desktop {
			margin: 0 auto;
			max-width: 1600px;
			padding: 75px 0;
			align-items: flex-start;
		}

		section#info {
			order: -1;
			padding: 0 25px 50px 25px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include tablet-portrait {
				order: 2;
				flex: 1;
				padding: 0 50px;
			}
		
			@include tablet-landscape {
				max-width: 420px;
			}

			@include desktop {
				max-width: 360px;
				padding: 50px 0 0 50px;
			}

			.description {
				width: 100%;
				p {
					font-size: 1.5em;
					line-height: 1.75em;
					font-style: italic;

					strong {
						font-weight: normal;
						font-style: normal;
						text-transform: uppercase;
						font-size: 0.875em;
					}

					@include tablet-portrait {
						font-size: 1.375em;
					}

					@include desktop {
						font-size: 1.5em;
					}
				}
			}

			.details {
				padding-top: 50px;
				width: 50%;
				text-align: center;

				@include tablet-landscape {
					width: 100%;
					text-align: left;
					padding-top: 50px;
				}

				h3 {
					font-size: 2rem;

					@include tablet-landscape {
						font-size: 2.5rem;
					}

				}

				p {
					font-size: 1.125rem;
					line-height: 1.75em;

					@include tablet-landscape {
						font-size: 1.25rem;
					}
				}
			}
		

		}

		section#photos {

			@include tablet-portrait {
				order: 1;
				width: 50%;
				max-width: 900px;
			}

			@include tablet-landscape {
				width: 66.6667%;
			}

			.gallery {
				display: flex;
				flex-wrap: wrap;

				.col-2 {
					width: 49.25%;
				}

				.col-1 {
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}

				.wide {
					display: block;
					margin-top: 5px;

					@include mobile-landscape {
						margin-top: 12px;
					}
				}

				.stack {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}


			}
		}

	}
}