body.page-template-menu {

	section.menu {

		.section-header {
			padding: 0 0 40px 0;
			text-align: center;

			h1 {
				font-weight: normal;
				font-size: 3.5em;
				color: $blue;
				text-transform: lowercase;
				letter-spacing: 0.05em;

				@include tablet-portrait {
					font-size: 5em;
				}
			}
		}
	}



}

