body, input, textarea {
	color: $slate;
	font: 400 100%/1 $warnock;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: $moon-flower;
}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

