/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$black: #000;

$slate: #2F2E2D;
$cream: #EFEEEB;
$blue: #91A6AB;
$brown: #998978;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Moon Flower';
    src: url('fonts/moon_flower_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_flower_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$moon-flower: 'Moon Flower', sans-serif;
$warnock: "warnock-pro", serif;