@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Moon Flower';
  src: url("fonts/moon_flower_bold-webfont.woff2") format("woff2"), url("fonts/moon_flower_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* Selection  */
::-moz-selection {
  background: #91A6AB;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #91A6AB;
  color: #fff;
  text-shadow: none; }

body {
  background: #EFEEEB; }

body, input, textarea {
  color: #2F2E2D;
  font: 400 100%/1 "warnock-pro", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Moon Flower", sans-serif; }

a {
  color: #2F2E2D;
  transition: all 0.2s ease-in-out; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  background: #2F2E2D;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    header {
      padding-bottom: 0; } }
  header .header-wrapper {
    border-color: #fff;
    border-width: 1px; }
  header .info {
    text-transform: lowercase; }
    header .info h3 {
      color: #fff;
      font-weight: 100;
      font-size: 1.625em; }
    header .info p {
      color: #fff;
      font-size: 1em;
      font-style: normal; }
  header.status-view .status {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  header.status-view .logo {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      header.status-view .logo {
        width: auto; } }
    header.status-view .logo .image {
      width: 80%; }
      @media screen and (min-width: 1024px) {
        header.status-view .logo .image {
          width: 100%; } }
      header.status-view .logo .image img {
        margin: 0;
        transform: none;
        max-width: 200px; }
        @media screen and (min-width: 768px) {
          header.status-view .logo .image img {
            margin: 0;
            max-width: 300px; } }
        @media screen and (min-width: 1280px) {
          header.status-view .logo .image img {
            max-width: 300px; } }
  header.status-view .message {
    color: #fff;
    width: 100%;
    flex: 1;
    text-align: center;
    padding-top: 50px; }
    @media screen and (min-width: 1024px) {
      header.status-view .message {
        padding-left: 50px;
        text-align: left;
        width: auto;
        padding-top: 0; } }
    header.status-view .message .headline {
      padding-bottom: 15px; }
      header.status-view .message .headline h2 {
        font-size: 1.5rem;
        font-family: "warnock-pro", serif; }
        @media screen and (min-width: 1280px) {
          header.status-view .message .headline h2 {
            font-size: 2rem; } }
    header.status-view .message .copy p {
      font-size: 1rem;
      font-style: normal;
      line-height: 1.75em; }
      header.status-view .message .copy p + p {
        padding-top: 10px; }
      @media screen and (min-width: 1280px) {
        header.status-view .message .copy p {
          font-size: 1.25rem; } }

nav.desktop {
  background: #2F2E2D; }
  nav.desktop .main-nav a {
    color: #fff;
    font-family: "Moon Flower", sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
    nav.desktop .main-nav a:after {
      padding: 0 20px; }
    @media screen and (min-width: 1280px) {
      nav.desktop .main-nav a {
        font-size: 1.625rem; } }
    nav.desktop .main-nav a:hover {
      color: #91A6AB; }

nav.mobile .main-nav a {
  color: #fff;
  font-family: "Moon Flower", sans-serif;
  font-size: 2em;
  font-weight: 400; }

@media screen and (min-width: 768px) {
  nav.mobile .main-nav {
    display: flex;
    justify-content: center; }
    nav.mobile .main-nav a {
      font-size: 1.5rem;
      padding: 0; }
      nav.mobile .main-nav a:after {
        content: "·";
        display: inline-block;
        padding: 0 20px; }
      nav.mobile .main-nav a:last-of-type:after {
        display: none; } }

section.call-to-actions {
  background: #2F2E2D;
  padding-bottom: 40px; }
  section.call-to-actions .btn a {
    border-color: #91A6AB;
    color: #fff;
    border-radius: 5px;
    text-transform: none;
    letter-spacing: 0.02em;
    font-size: 1em;
    font-weight: normal;
    padding: 15px 25px 12px; }
    section.call-to-actions .btn a:hover {
      background: #91A6AB;
      color: #fff; }
  section.call-to-actions .text {
    order: -1; }
    @media screen and (min-width: 768px) {
      section.call-to-actions .text {
        width: 100%;
        padding: 25px 0; } }
    @media screen and (min-width: 1024px) {
      section.call-to-actions .text {
        width: auto;
        padding: 0 25px;
        order: unset; } }
    section.call-to-actions .text p {
      color: #fff;
      font-style: normal;
      text-transform: none;
      letter-spacing: 0.02em; }

#toggle .patty {
  background: #fff; }
  #toggle .patty:after, #toggle .patty:before {
    background: #fff; }

nav .social a {
  background: none !important;
  width: 16px !important;
  height: 16px !important; }
  nav .social a:hover {
    -webkit-filter: invert(18%) sepia(7%) saturate(671%) hue-rotate(144deg) brightness(79%) contrast(84%);
            filter: invert(18%) sepia(7%) saturate(671%) hue-rotate(144deg) brightness(79%) contrast(84%); }

footer {
  background: #2F2E2D; }

section#comment-card .header {
  text-align: center;
  padding: 0 0 25px 0; }
  section#comment-card .header h3 {
    font-size: 4em; }
  section#comment-card .header p {
    padding: 10px 0 0 0;
    font-style: italic; }

section#comment-card .form label {
  font-size: 0.875em; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 0.875em; }

section#comment-card .form textarea {
  padding: 10px; }

section#comment-card .form div.wpforms-container-full .wpforms-form button[type=submit] {
  background: #91A6AB;
  border: 1px solid #91A6AB;
  border-radius: 2px;
  font-family: "warnock-pro", serif;
  padding: 14px 20px 11px 20px;
  color: #fff; }

body.page-template-default section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default section.standard {
      padding: 80px 0; } }
  body.page-template-default section.standard .wrapper {
    max-width: 960px; }
  body.page-template-default section.standard .section-header {
    padding: 0 0 40px 0; }
    body.page-template-default section.standard .section-header h1 {
      font-weight: normal;
      font-size: 3em;
      font-family: "Moon Flower", sans-serif; }
      @media screen and (min-width: 768px) {
        body.page-template-default section.standard .section-header h1 {
          font-size: 5em; } }
  body.page-template-default section.standard .section-body h3 {
    font-weight: bold;
    font-size: 1.375em;
    font-family: "warnock-pro", serif;
    padding: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body h3 {
        font-size: 1.5em; } }
  body.page-template-default section.standard .section-body p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0 40px 0;
    font-family: "warnock-pro", serif; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body p {
        font-size: 1.25em; } }

.popup {
  top: -44px;
  left: -10px; }
  @media screen and (min-width: 1024px) {
    .popup {
      top: -50px;
      left: -8px; } }
  .popup-link, .popup-trigger {
    background: #2F2E2D;
    color: #EFEEEB;
    font-family: "warnock-pro", serif;
    font-size: 0.875rem;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    border: 2px solid #EFEEEB;
    box-shadow: none !important;
    height: 72px;
    width: 72px; }
    @media screen and (min-width: 1280px) {
      .popup-link, .popup-trigger {
        height: 84px;
        width: 84px;
        font-size: 0.9375rem; } }
    .popup-link:hover, .popup-trigger:hover {
      background: #EFEEEB;
      color: #2F2E2D;
      border: 2px solid #EFEEEB; }
    .popup-link span, .popup-trigger span {
      display: block;
      transform: rotate(-10deg); }

.popup-overlay .close {
  color: #91A6AB; }

.popup-overlay .info .headline h3 {
  font-size: 1.5rem;
  font-family: "Moon Flower", sans-serif;
  color: #91A6AB; }
  @media screen and (min-width: 768px) {
    .popup-overlay .info .headline h3 {
      font-size: 1.75rem; } }

.popup-overlay .info .sub-headline h4 {
  font-family: "warnock-pro", serif;
  color: #2F2E2D; }

.popup-overlay .info .copy p {
  font-family: "warnock-pro", serif;
  color: #2F2E2D; }

.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #91A6AB;
  font-family: "warnock-pro", serif; }

section#heavy-at-home .overlay {
  background: rgba(145, 166, 171, 0.75); }
  section#heavy-at-home .overlay-wrapper {
    border: 5px solid #2F2E2D;
    background: #EFEEEB; }

section#heavy-at-home .info .headline h1 {
  font-family: "Moon Flower", sans-serif;
  color: #91A6AB;
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .headline h1 {
      font-size: 5rem; } }

section#heavy-at-home .info .copy p {
  font-family: "warnock-pro", serif;
  text-transform: lowercase;
  line-height: 1.5em; }
  section#heavy-at-home .info .copy p a {
    color: #2F2E2D; }

section#heavy-at-home .info .cta .btn {
  color: #91A6AB; }
  section#heavy-at-home .info .cta .btn:hover {
    background: #91A6AB;
    border-color: #91A6AB; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero {
  position: relative; }
  body.home section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  body.home section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home section#hero {
      border-bottom: 10px solid #998978;
      position: relative;
      max-height: 600px; }
      body.home section#hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 34.02778%; }
      body.home section#hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

body.home section#main {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media screen and (min-width: 1280px) {
    body.home section#main {
      margin: 0 auto;
      max-width: 1600px;
      padding: 75px 0;
      align-items: flex-start; } }
  body.home section#main section#info {
    order: -1;
    padding: 0 25px 50px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      body.home section#main section#info {
        order: 2;
        flex: 1;
        padding: 0 50px; } }
    @media screen and (min-width: 1024px) {
      body.home section#main section#info {
        max-width: 420px; } }
    @media screen and (min-width: 1280px) {
      body.home section#main section#info {
        max-width: 360px;
        padding: 50px 0 0 50px; } }
    body.home section#main section#info .description {
      width: 100%; }
      body.home section#main section#info .description p {
        font-size: 1.5em;
        line-height: 1.75em;
        font-style: italic; }
        body.home section#main section#info .description p strong {
          font-weight: normal;
          font-style: normal;
          text-transform: uppercase;
          font-size: 0.875em; }
        @media screen and (min-width: 768px) {
          body.home section#main section#info .description p {
            font-size: 1.375em; } }
        @media screen and (min-width: 1280px) {
          body.home section#main section#info .description p {
            font-size: 1.5em; } }
    body.home section#main section#info .details {
      padding-top: 50px;
      width: 50%;
      text-align: center; }
      @media screen and (min-width: 1024px) {
        body.home section#main section#info .details {
          width: 100%;
          text-align: left;
          padding-top: 50px; } }
      body.home section#main section#info .details h3 {
        font-size: 2rem; }
        @media screen and (min-width: 1024px) {
          body.home section#main section#info .details h3 {
            font-size: 2.5rem; } }
      body.home section#main section#info .details p {
        font-size: 1.125rem;
        line-height: 1.75em; }
        @media screen and (min-width: 1024px) {
          body.home section#main section#info .details p {
            font-size: 1.25rem; } }
  @media screen and (min-width: 768px) {
    body.home section#main section#photos {
      order: 1;
      width: 50%;
      max-width: 900px; } }
  @media screen and (min-width: 1024px) {
    body.home section#main section#photos {
      width: 66.6667%; } }
  body.home section#main section#photos .gallery {
    display: flex;
    flex-wrap: wrap; }
    body.home section#main section#photos .gallery .col-2 {
      width: 49.25%; }
    body.home section#main section#photos .gallery .col-1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    body.home section#main section#photos .gallery .wide {
      display: block;
      margin-top: 5px; }
      @media screen and (min-width: 568px) {
        body.home section#main section#photos .gallery .wide {
          margin-top: 12px; } }
    body.home section#main section#photos .gallery .stack {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

body.page-template-hours section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-hours section.standard {
      padding: 80px 0; } }
  body.page-template-hours section.standard .wrapper {
    max-width: 400px; }
    @media screen and (min-width: 768px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 400px;
        padding: 0; } }
  body.page-template-hours section.standard .section-header {
    padding: 0 0 40px 0; }
    body.page-template-hours section.standard .section-header h1 {
      font-weight: normal;
      font-size: 2em;
      text-transform: lowercase;
      letter-spacing: 0.05em;
      text-align: center;
      color: #91A6AB; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-header h1 {
          font-size: 3em; } }
  body.page-template-hours section.standard .section-body .hours {
    text-align: center; }
    body.page-template-hours section.standard .section-body .hours h3 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.9375em;
      padding: 0 0 10px 0;
      font-family: "warnock-pro", serif; }
    body.page-template-hours section.standard .section-body .hours p {
      font-weight: 100;
      font-size: 1.25em;
      line-height: 1.25em;
      padding: 0 0 40px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-body .hours p {
          font-size: 1.75em; } }
      body.page-template-hours section.standard .section-body .hours p:last-of-type {
        padding: 0; }

body.page-template-gallery .jp-carousel-info {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-gallery section.gallery {
  padding: 40px 0; }
  body.page-template-gallery section.gallery .section-header {
    padding: 0 0 40px 0; }
    body.page-template-gallery section.gallery .section-header h1 {
      font-weight: normal;
      font-size: 2em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-gallery section.gallery .section-header h1 {
          font-size: 3em; } }

body.page-template-menu section.menu .section-header {
  padding: 0 0 40px 0;
  text-align: center; }
  body.page-template-menu section.menu .section-header h1 {
    font-weight: normal;
    font-size: 3.5em;
    color: #91A6AB;
    text-transform: lowercase;
    letter-spacing: 0.05em; }
    @media screen and (min-width: 768px) {
      body.page-template-menu section.menu .section-header h1 {
        font-size: 5em; } }

body.page-template-location section.location {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-location section.location {
      padding: 80px 0; } }
  body.page-template-location section.location .section-header {
    padding: 0 0 40px 0; }
    body.page-template-location section.location .section-header h1 {
      font-weight: normal;
      font-size: 3.5em;
      color: #91A6AB;
      text-transform: lowercase;
      letter-spacing: 0.05em; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-header h1 {
          font-size: 4.5em; } }
  body.page-template-location section.location .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-location section.location .section-body .info {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .info {
          width: 40%; } }
      body.page-template-location section.location .section-body .info h3 {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 2em;
        padding: 0 0 5px 0;
        color: #91A6AB; }
      body.page-template-location section.location .section-body .info p {
        font-weight: 100;
        font-size: 1.25em;
        line-height: 1.25em;
        padding: 0 0 40px 0; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info p {
            font-size: 1.25em; } }
        body.page-template-location section.location .section-body .info p:last-of-type {
          padding: 0; }
        body.page-template-location section.location .section-body .info p a {
          color: #2F2E2D; }
          body.page-template-location section.location .section-body .info p a:hover {
            text-decoration: underline; }
    body.page-template-location section.location .section-body .photo {
      width: 100%;
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .photo {
          width: 60%;
          padding: 0; } }
    body.page-template-location section.location .section-body .map {
      padding: 20px 0 0 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .map {
          padding: 40px 0 0 0; } }

body.error404 section#main {
  padding: 50px 0;
  min-height: 100vh; }
  @media screen and (min-width: 768px) {
    body.error404 section#main {
      min-height: 75vh;
      padding: 75px 0; } }
  body.error404 section#main h2 {
    font-size: 3.5em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.error404 section#main h2 {
        font-size: 5em; } }
  body.error404 section#main p {
    font-size: 1.5em; }
