section#heavy-at-home {

	.overlay {
		background: rgba(145, 166, 171, 0.75);
		
		&-wrapper {
			border: 5px solid $slate;
			background: $cream;
		}
	}

	.info {

		.headline {
			h1 {
				font-family: $moon-flower;
				color: $blue;
				font-weight: normal;

				@include tablet-portrait {
					font-size: 5rem;
				}
			}
		}

		.copy {
			p {
				font-family: $warnock;
				text-transform: lowercase;
				line-height: 1.5em;

				a {
					color: $slate;
				}
			}
		}

		.cta {
			.btn {
				color: $blue;

				&:hover {
					background: $blue;
					border-color: $blue;
				}
			}
		}	
	}
}