.popup {
	top: -44px;
	left: -10px;

	@include tablet-landscape {
		top: -50px;
		left: -8px;
	}

	&-link,
	&-trigger {
		background: $slate;
		color: $cream;
		font-family: $warnock;
		font-size: 0.875rem;
		text-transform: lowercase;
		letter-spacing: 0.05em;
		line-height: 1.25em;
		border: 2px solid $cream;
		box-shadow: none !important;
		height: 72px;
		width: 72px;

		@include desktop {
			height: 84px;
			width: 84px;
			font-size: 0.9375rem;
		}

		&:hover {
			background: $cream;
			color: $slate;
			border: 2px solid $cream;
		}

		span {
			display: block;
			transform: rotate(-10deg);
		}
	}
}

.popup-overlay {

	.close {
		color: $blue;
	}

	.info {
		.headline {
			h3 {
				font-size: 1.5rem;
				font-family: $moon-flower;
				color: $blue;

				@include tablet-portrait {
					font-size: 1.75rem;
				}
			}
		}

		.sub-headline {
			h4 {
				font-family: $warnock;
				color: $slate;
			}

		}

		.copy {
			p {
				font-family: $warnock;
				color: $slate;
			}
		}

		.btn {
			a {
				font-size: 1.125rem;
				color: $blue;
				font-family: $warnock;
			}			
		}
	}
}